<!-- <button class="btn btn-default" ng-click="addDef()">Yo</button>
<input type="text" ng-model="ccurrentWr" class="form-control">
<input type="text" ng-model="ccurrentW" class="form-control"> -->
<button class="btn btn-default" ng-click="alphabetize()">Alpha</button>
<div class="container">
    <div class="row">
        <ol>
            <li class="term-verbose" ng-repeat="term in DESIRED_DEFS | reverse | filter:rootFilter">
                <h3>{{term.word | Capitalize}}<span ng-if="term.roots.length > 2" class="glyphicon glyphicon-star"></span></h3>
                <span class="wrt-def" ng-repeat="rt in term.roots">
                    <b>{{ rt.root }}</b> {{ rt.rootDef}}
                </span>
                <p class="term-def">{{ term.defintion }}</p>
                <p class="term-sentence">{{ term.sentence }}</p>
            </li>

        </ol>
    </div>
</div>


<!-- You cannot copy bootstraps star, so insert this if you need to copy into google docs!★ -->
