<html ng-app="wordRoots">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./lib/bs.css">
    <link rel="stylesheet" href="default.css">
  </head>
  <body ng-controller="main">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="collapse">
          <ul class="nav navbar-nav navbar-right">
            <li ng-if="currentWr"><a href="#"><b>{{currentWr}}</b> : <i>{{currentDefintion}}</i></a></li>
            <li ng-class="{active: isState('defs')}"><a href="#" ui-sref="defs">Defintions</a></li>
            <li ng-class="{active: isState('tiles')}"><a href="#" ui-sref="tiles">Tiles</a></li>
            <li ng-class="{active: isState('exs')}"><a href="#" ui-sref="exs">Examples</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-left">
            <li ng-show="isState('defs')" class="dropdown">
              <a data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-cog"></span></a>
              <ul class="dropdown-menu">
                  <li ng-click="clear()"><a>Clear Storage</a></li>
              </ul>
            </li>
            <li ng-click="alphabetize()" ng-show="isState('defs')"><a><span class="glyphicon glyphicon-sort-by-alphabet"></span></a></li>
            <li ng-click="save()" ng-show="isState('defs')"><a><span class="glyphicon glyphicon-floppy-disk"></span></a></li>
            <li ng-click="fetch()" ng-show="isState('defs')"><a><span class="glyphicon glyphicon-download-alt"></span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-middle">
            <li><input type="search" class="form-control" ng-model="_wr.root"></li>
          </ul>
        </div>
      </div>
    </nav>

    <ui-view>


    <!-- SCRIPTS -->
    <script src="./lib/built.js"></script>
    <script src="app.js"></script>
  </body>
</html>
